In [7]:
import pandas as pd
import sys, os

sys.path.append(os.path.abspath(os.path.join('../utils')))

In [8]:
from eda_helpers import EDA

In [9]:
eda = EDA('../data/processed')
eda.load_cleaned_data()

In [10]:
preprocessed_trip_df=eda.preprocessed_trip

In [12]:
preprocessed_trip_df = preprocessed_trip_df.drop('Unnamed: 0', axis=1)

In [13]:
preprocessed_trip_df

,order_id,Trip Origin,Trip Destination,Trip Start Time,Trip End Time,is_weekend,is_holiday,distance,speed
0,391996,"6.508813001668548,3.37740316890347","6.650969799999999,3.3450307",2021-07-01 07:28:04,2021-07-01 07:29:37,0,0,16.123451,624.133590
1,391997,"6.4316714,3.4555375","6.4280814653326,3.4721885847586",2021-07-01 06:38:04,2021-07-01 07:07:28,0,0,1.884305,3.845521
2,391998,"6.631679399999999,3.3388976","6.508324099999999,3.3590397",2021-07-01 06:21:02,2021-07-01 07:02:23,0,0,13.822393,20.056676
3,391999,"6.572757200000001,3.3677082","6.584881099999999,3.3614073",2021-07-01 07:16:07,2021-07-01 07:29:42,0,0,1.511034,6.674507
4,392001,"6.6010417,3.2766339","6.4501069,3.3916154",2021-07-01 09:30:59,2021-07-01 09:34:36,0,0,20.984319,348.126952
...,...,...,...,...,...,...,...,...,...
528415,1637696,"6.448218499999999,3.4772075","6.437787399999999,3.481670199999999",2021-12-30 20:35:06,2021-12-30 21:02:59,0,0,1.254752,2.700005
528416,1637702,"6.442320899999999,3.4736868","6.436589333407897,3.5559738188407835",2021-12-30 20:48:13,2021-12-30 21:43:49,0,0,9.124781,9.846886
528417,1637704,"6.4281982,3.492248","6.448088500000001,3.4775747",2021-12-30 20:51:45,2021-12-30 21:41:32,0,0,2.733704,3.294722
528418,1637705,"6.5869296,3.3632966","6.637906899999999,3.3339515",2021-12-30 20:48:50,2021-12-30 21:08:28,0,0,6.504796,19.878833
528419,1637709,"6.647209999999999,3.4851489","6.454915198823159,3.555839938365194",2021-12-30 20:55:38,2021-12-30 22:25:00,0,0,22.657280,15.211900

In [19]:
trip_df=preprocessed_trip_df.copy()

In [20]:
trip_df['Trip Start Time'] = pd.to_datetime(trip_df['Trip Start Time'])
print(trip_df['Trip Start Time'].dt.date.nunique())

252

In [21]:
trip_df['Trip Start Time'] = pd.to_datetime(trip_df['Trip Start Time'])

trip_df['Time of Day'] = trip_df['Trip Start Time'].dt.hour.apply(lambda x: 'Morning' if x < 12 else 'Afternoon')

In [24]:
unique_dates_and_times = trip_df.groupby([trip_df['Trip Start Time'].dt.date, 'Time of Day']).size().reset_index(name='count')
unique_dates_and_times

    Trip Start Time Time of Day  count
0        2021-07-01   Afternoon   2218
1        2021-07-01     Morning   1052
2        2021-07-02   Afternoon   2364
3        2021-07-02     Morning   1122
4        2021-07-03   Afternoon   1582
..              ...         ...    ...
448      2022-04-30     Morning      1
449      2022-05-19     Morning      1
450      2022-05-30   Afternoon      1
451      2022-06-03   Afternoon      2
452      2022-06-13     Morning      1

[453 rows x 3 columns]

Weather